@model UbicaMovil.ArqLimpia.BL.DTOs.EmpresaDTOs.EmpresaGetByIdDTO

@{
    ViewData["Title"] = "Eliminar - ";
}

<link href="~/css/xmain.css" rel="stylesheet" media="all">

<div class="py-5 bg-red font-poppins">
    <div class="container py-md-5" id="x">
        <div class="container-md">
            <div class="card bg-dark text-white px-3 pt-2">
                <div class="card-body">
                    <h4 class="fs-3 text-center fw-bolder pt-5">¿Estas seguro que quieres eliminar la emperesa?</h4>
                    <form asp-action="Delete">
                        <div class="input-group text-white">
                            <dt class="col-2">
                                Nombre
                            </dt>
                            <dd class="col-10">
                                @Html.DisplayFor(model => model.Nombre)
                            </dd>
                        </div>
                        <div class="input-group text-white">
                            <dt class="col-2">
                                Direccion
                            </dt>
                            <dd class="col-10">
                                @Html.DisplayFor(model => model.Direccion)
                            </dd>
                        </div>
                        <div class="input-group text-white">
                            <dt class="col-2">
                                Telefono
                            </dt>
                            <dd class="col-10">
                                @Html.DisplayFor(model => model.Telefono)
                            </dd>
                        </div>
                        <div class="input-group text-white">
                            <dt class="col-2">
                                HorarioEntrada
                            </dt>
                            <dd class="col-10">
                                @Html.DisplayFor(model => model.HorarioEntrada)
                            </dd>
                        </div>
                        <div class="input-group text-white">
                            <dt class="col-2">
                                HorarioSalida
                            </dt>
                            <dd class="col-10">
                                @Html.DisplayFor(model => model.HorarioSalida)
                            </dd>
                        </div>
                        <div class="input-group text-white">
                            <dt class="col-2">
                                Latitud
                            </dt>
                            <dd class="col-10">
                                @Html.DisplayFor(model => model.Latitud)
                            </dd>
                        </div>
                        <div class="input-group text-white">
                            <dt class="col-2">
                                Longitud
                            </dt>
                            <dd class="col-10">
                                @Html.DisplayFor(model => model.Longitud)
                            </dd>
                        </div>
                        <div class="input-group text-white">
                            <dt class="col-2">
                                Categoria
                            </dt>
                            <dd class="col-10">
                                @Html.DisplayFor(model => model.IdCategoria)
                            </dd>
                        </div>
                        <div class="col-12 text-center py-3">
                            <button class="btn btn-danger" type="submit">Eliminar</button>
                            <a class="btn btn-outline-danger" asp-action="Index">Regresar</a><br />
                            <span style="color:red">@ViewBag.ErrorMessage</span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/js/global.js"></script>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}